:root{
    font-family: "Open Sans", sans-serif;
}
.headfont{
    font-family: "Proza Libre", sans-serif;
    font-size: 1.875rem;
    font-weight: bold;
}
i{
    font-size: 2.2rem;
}
body{
    width: 80%;
    margin: auto;
}
header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-between;
    /* border: 1px solid black; */
}
nav a{
    text-decoration: none;
    color: black;
    transition: font-weight 700ms ease-in-out;
    padding: 3px;
}
nav a:hover{
    color: darkgoldenrod;
    transition: color 700ms ease-in-out;
}
.section-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-article article{
    margin:20px;
    max-width: 700px;
}
#projet1, #projet2, #projet3{
    display: none;
    
}
section h3{
    cursor: pointer;
}
#projet1 img{
    width: 500px;
    height: 350px;
}
#projet2 img{
    width: 500px;
    height: 350px;
}
#projet3 img{
    width: 500px;
    height: 350px;
}
.icones{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icones i{
    padding: 5px;
}
footer p{
    text-align: center;
    padding-top: 20px;
}
.icones-contact{
    display: flex;
    
}
.icones-contact i{
    padding: 15px;
}